:host {
  display: block;
}

body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  margin-left: 220px;
  min-height: calc(100vh - 120px);
}

@media (max-width: 768px) {
  main {
    margin-left: 0;
  }
}

app-footer {
  display: block;
  margin-left: 220px;
}

@media (max-width: 768px) {
  app-footer {
    margin-left: 0;
  }
}
